/* .developer {
    margin: 20px 20px;
    border: 2px solid #FEF5E7;
    list-style: none;
    display: inline-block;
} */


.developers-list{
    display: flex;
    flex-wrap: wrap;
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;	
}
.developer {
    width: 25%;
    margin: 0 1%;
    list-style: none;
    border: 2px solid #566573;
}

li {
    width: 70%;
}
li:hover {
    background-color: #FFFFFF
}
