

.developers-list{
    max-width: 1280px;
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;	
}

ul {
    list-style: none;
}
.developer {
    width: 22%;
    margin: 1% 1%;
    background-color: #E6E6FA;
    border: 3px solid #FFFFFF;
    /* margin-bottom: 20px; */
    /* display: flex;
    flex-flow: column;
    flex: 1 0 auto; */
}

.developer:before {
    content:'';
    float:left;
}

li {
    width: 80%;
}
li:hover {
    background-color: #FFFFFF
}

@media only screen and (max-width: 768px) {
    .developer {
        width: 70%;
        flex: 0 auto;
    }
    .developers-list {
        justify-content: center;
    }
    .header {
        flex-direction: column;
    }
    .logo  {
        width: 100%;
    }
    .statusBar {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .developer {
        width: 40%;
        flex: 0 auto;
    }
    .developers-list {
        justify-content: center;
    }
}